services:
  # PHP-FPM service for handling PHP requests
  grux-php-fpm:
    image: php:8.2-fpm-alpine
    volumes:
      - ../../www-testing:/var/www/html:ro  # Web content accessible to PHP-FPM
    ports:
      - "9000:9000"
    restart: unless-stopped
    extra_hosts:
      - "gruxtest=127.0.0.1"
    command:
    - /bin/sh
    - -c
    - |
        docker-php-ext-install mysqli
        docker-php-ext-install opcache
        echo "extension installed.....starting php-fpm........................................"
        php-fpm
